* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --size: calc(1vh + 1vw);
}

@font-face {
  font-family: 'bounded' ;
  src: url(/src/assets/fonts/Bounded-Variable.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'moscow' ;
  src: url(/src/assets/fonts/MOSCOW2024.otf);
}

@font-face {
  font-family: 'vivl' ;
  src: url(/src/assets/fonts/vivl-rail.otf);
}

:root {
  font-family: 'bounded';
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  background-color: #151515;
}

body{
  background-image: url(/src/assets/img/bg/full_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1 {
  font-family: 'vivl' ;
  font-size: calc(var(--size) * 2.7);
}

.header {
  background-color: #151515;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.auth {
  background-color: #E05100;
}

.btn {
  all: unset;
  font-family: 'vivl';
  border-radius: 1.5em;
  border: 2px solid #fff;
  font-size: calc(var(--size)*1.2);
  padding: .1em .5em 0em .5em;
}

.footer {
  position: absolute;
  background-color: #151515;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.footer-text {
  font-family: 'moscow';
  font-size: calc(var(--size)*1);
  line-height: 1.2;
}

.footer-text .copy {
  font-family: 'vivl';
  font-size: calc(var(--size)*1);

}